.homepcontent {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.description {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  /* opacity: 0; */
  transform: translateY(-20px);
  animation: fadeInUp 0.5s forwards;
}

.hometitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 37px;
}

.maincontent {
  font-size: 1.2rem;
  line-height: 1.6;
}

.careerimg {
  margin-top: -60px;
}

/* NewHomePage.css */
/* Existing styles remain the same */



.student-members {
  display: flex;
  justify-content: center;
  animation: fadeInUp 0.5s 0.6s ease-in-out;
}

/* NewHomePage.css */
/* Existing styles remain the same */

/* NewHomePage.css */
.rounded-box {
  display: inline-block;
  border-radius: 25px; /* Adjust the border-radius for roundness */
  background-color: #007BFF; /* Set the background color */
  color: #ffffff; /* Set the text color */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Set the font size */
  padding: 20px 90px;
  margin-left: 30px;
  margin-top: 20px;
}
.rouned-box {
  display: inline-block;
  border-radius: 25px; /* Adjust the border-radius for roundness */
  background-color: #007BFF; /* Set the background color */
  color: #ffffff; /* Set the text color */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Set the font size */
  
  padding: 20px 90px;
  margin-left: 20px;
  margin-top: 20px;
}

.rounded-box:hover {
  background-color: #0056b3; /* Change color on hover */
  cursor: pointer;
}

